.container{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #282c34;
  color:white;
}

.test{
  background: blueviolet;
  color: white;
  font-size:48px;
  font-weight:bold;
  padding:20px;
}

.App{
  text-align: center;
}